.calculator{
    width: 320px;
    height: 500;
    margin-top: 14px;
    margin-bottom:100px;
    margin-left:475px;
    margin-right:110px;
    height:550px;
    box-shadow: 0 8px 50px -7px black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius:11px;
    border-top-left-radius: 11px;
    padding:10px;  
    backdrop-filter:blur(10px);  
    position:fixed;
    
  
}
body{
    font-family:'Times New Roman', Times, serif;
    color:sandybrown;
    background-image: url('image.png');
    background-repeat:no-repeat;
    background-size:cover;   
    
}

#keyboard{
    height:400px;
    
    }
.operator,.number{
    font-size: 17px;
    font-style: bold;
    height: 50px;
    width: 50px;
    margin:15px;
    float:left;
    border-style: solid;
    border-radius:50%;
    background-color: transparent;
    /* background:rgba(8, 31, 143, 1); */
    color:rgb(7, 60, 100);
    
    
}
.empty{
    background-color: transparent;
    height: 50px;
    width:50px;
    border-width:0px;
    margin:15px;
    float:left;
    opacity:0;
    
}
#result{
    border-style:solid;
    opacity:1;
    border-color:#041830;
    height:100px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    padding:1px;
  
}
#output{
    color:rgb(208, 238, 249);
    font-family:Arial, Helvetica, sans-serif;
}
button:nth-child(4){
    background-color: transparent;
    border-color: #169bd5;
    

}
button:nth-child(8) {
    background-color: transparent;
    border-color:#169bd5;

}
button:nth-child(12) {
    background-color: transparent;
    border-color: #169bd5;

}button:nth-child(16) {
    background-color: transparent;
    border-color: #169bd5;

}
button:nth-child(20) {
    background-color: transparent;
    border-color: #169bd5;

}
button:hover{
    border-color:orange;
    color:orange;
    font-size:larger;
    font-weight: bolder;
}

button{
    border: none;
        background-color: transparent;
        outline: none;
    }
    
    button:focus {
        border: none;
       
}
.empty:hover{
    opacity:0;
}


